<article class="menu-item">
  <div class="menu-left">
    <img class="img-props" src="<%= item.photo_url %>" alt="burrito-pic" />
  </div>
  <div class="menu-right">
    <div class="menu-top">
      <h3 class="food-title"><strong><%= item.name %></strong></h3>
      <h4 class="price">$<%= (item.price/100).toFixed(2) %></h4>
    </div>
    <span class="description"><%= item.description %></span>
    <div class="bottom-icons">
      <div>
        <i class="fas fa-leaf"></i>
        <span>&nbsp; Vegan</span>
      </div>

      <div class="spicy-row">
        <div class="spicy-icon">
          <i class="fas fa-pepper-hot"></i>
          <i class="fas fa-pepper-hot"></i>
        </div>
        <span>&nbsp;Spicy</span>
      </div>

      <div>
        <i class="fas fa-thumbs-up"></i>
        <span>&nbsp;Recommend</span>
      </div>
    </div>
    <div class="bottom-order">
      <input type="number" name="quantity" value="1" min="1" max="20" step="1" style="text-align: center;"/>
      <button type="button" class="btn btn-primary btn-lg btn-block add-cart">Add to cart
        <div id="itemname" hidden><%= item.name %></div>
      </button>
    </div>
  </div>
  <br>
</article>
